* {
	margin: 0;
	padding: 0;
	font-family:Verdana;
	box-sizing: border-box; /*padding and border size won't be added to div size*/
}
body {background-color: #ffffff;}
img {max-width: 100%; height: auto;}
.row:after {
    content: "";
    clear: both;
    display: block;
}
.header{height:10%; background-color: black;}
.header ul li{display:inline;}

[class*="col-"] {
	padding:15px;
    float: left;
}

/* for mobile */
[class*="col-*"] {
   width: 100%;
}
/* for desktop */
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}


/*
@media only screen and (orientation: landscape) {
    body {
        background-color: lightblue;
    }
}*/

/* von alt übernommen */
h1{margin:0 0 1.5em 0;font-size:1.5em; font-weight: bolder;}
h2{margin:0 0 1.4em 0; font-size:1.3em; font-weight: bolder;}
p{margin:0 0 1em 0;}

span.blue {color:#0097dc;}
span.red{color:red;}

a{text-decoration:none;}
nav a:link    {color:#9E9E9E;}
nav a:visited {color:#9E9E9E;}
nav a:hover   {color:white;}
nav a:active  { color:#9E9E9E;}

#team_picture{float:left; padding: 0.5em 8em;}
#team_picture img{border: 1px solid black; width: 102px; height: 136px;}
#team_profile{padding:1em 0; float:left;}
#team_profile td{float:left; font-size:0.8em;}
legend {margin: 0 0 0 15px;}


/* Noch checken/ändern! */
l1{
	font-size: 0.6em;
	font-weight: normal;
}
lh1{line-height: 1.58;}
lh2{line-height: 0.2;}
l1{font-size: 0.6em;}
l2{font-size: 0.8em;}